<form action="/memos/<%= @edit_id%>" method="post">
  <label class="memo_title" for="title">タイトル</label>
  <input class="title" type="text" name="title" value=<%= @title %>>
  <label class="memo_title" for="article">内容</label>
  <textarea class="article" type="text" name="article"><%= @article%></textarea>
  <input type="hidden" name="_method" value="PATCH">
  <button type="submit">保存</button>
</form>
